

.button {
 	background-color: white;
	border: 2px solid #4CAF50;
	color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 12px;
}

.button:hover {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
}


body {
	text-align: center;
}
